.dropdown-item {
  padding-left: 0.25rem ;
}
.dropdown-menu .active {
  color: #000000;
  text-decoration: none;
  background-color: #f1f3f5;
}
#dashboard-header {
  height: 100px;
}
#dashboard-header #main-menu-dropdown {
  background-color: #F1EBC5;
  margin-right: 1rem ;
  margin-left: 1rem ;
}
#dashboard-header #main-menu-dropdown svg {
  width: calc(2 * 16px);
  margin-top: 0.25rem ;
  margin-bottom: 0.25rem ;
  margin-right: 0.5rem ;
  margin-left: 0.5rem ;
}
#dashboard-header #main-menu-dropdown .dropdown-item {
  font-size: calc(1 * 16px);
}
#dashboard-header #main-menu-dropdown .dropdown-item svg {
  fill: #C5B358;
  width: calc(1 * 16px);
  margin-left: 0.25rem ;
  margin-right: 0.5rem ;
}
/* Position the caret to the right, within the dropdown item */
#dashboard-header #main-menu-dropdown .dropend .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  /* Center vertically */
  right: 0;
  /* Align to the far right */
  transform: translateY(-50%);
  /* Center the caret vertically */
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
  /* The caret arrow */
  padding-right: 0.5em;
}
#dashboard-header-logo a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  /* This will vertically center the items (text and image) */
}
#dashboard-header-logo .brand-logo-image {
  width: 80px;
}
#dashboard-header-logo .brand-text {
  font-size: calc(1.8 * 16px);
  color: #C5B358;
  font-weight: bold;
  margin-right: 0.5rem ;
  margin-left: 0.5rem ;
}
#navbar-right .navbar-nav {
  padding-top:  ;
  padding-bottom:  ;
  padding-right:  ;
  padding-left:  ;
  margin-top: 1rem ;
}
#navbar-right {
  height: 50px;
  padding-left: 0 ;
  padding-right: 0.25rem ;
}
#dashboard-header #notifications-menu-dropdown {
  margin-right: 0.25rem ;
  margin-left: 0 ;
}
#dashboard-header #notifications-menu-dropdown i {
  font-size: calc(1.5 * 16px);
  margin-right: 1rem ;
}
#navbar-right #notifications-menu-dropdown .counter {
  font-size: calc(.7 * 16px);
  /* font-weight: bold; */
}
#dashboard-header #notifications-menu-dropdown .dropdown-item {
  font-size: calc(1 * 16px);
}
#dashboard-header #notifications-menu-dropdown .dropdown-item svg {
  fill: #C5B358;
  width: calc(1 * 16px);
  margin-left: 0.25rem ;
  margin-right: 0.5rem ;
}
#dashboard-header #lang-menu-dropdown {
  margin-right: 0.25rem ;
  margin-left: 0 ;
}
#dashboard-header #lang-menu-dropdown i {
  font-size: calc(1.5 * 16px);
  margin-right: 1rem ;
}
#dashboard-header #lang-menu-dropdown .dropdown-item {
  font-size: calc(1 * 16px);
}
#dashboard-header #lang-menu-dropdown .dropdown-item i {
  font-size: calc(1 * 16px);
  margin-top: 0.25rem ;
  margin-bottom: 0.25rem ;
  margin-right: 0.5rem ;
  margin-left: 0.5rem ;
}
#dashboard-header #profile-menu-dropdown {
  margin-right: 0.25rem ;
  margin-left: 0 ;
}
#dashboard-header #profile-menu-dropdown svg {
  width: calc(1.5 * 16px);
  margin-right: 1rem ;
}
#dashboard-header #profile-menu-dropdown .dropdown-item {
  font-size: calc(1 * 16px);
}
#dashboard-header #profile-menu-dropdown .dropdown-item svg {
  fill: #C5B358;
  width: calc(1 * 16px);
  margin-left: 0.25rem ;
  margin-right: 0.5rem ;
}
#dashboard-header #congregations-menu-dropdown {
  margin-right: 1rem ;
  margin-left: 0 ;
}
#dashboard-header #congregations-menu-dropdown svg {
  width: calc(2 * 16px);
  margin-right: 0.25rem ;
}
#dashboard-header #congregations-menu-dropdown .dropdown-item {
  font-size: calc(1 * 16px);
}
#dashboard-header #congregations-menu-dropdown .dropdown-item svg {
  fill: #C5B358;
  width: calc(1 * 16px);
  margin-left: 0.25rem ;
  margin-right: 0.5rem ;
}
#dashboard-header #about-menu-button {
  margin-right: 1rem ;
  margin-left: 0 ;
}
#dashboard-header #about-menu-button svg {
  width: calc(0.5 * 16px);
  margin-right: 0.25rem ;
}
#breadcrumbs-bar {
  padding-top: 105px;
  padding-left: 0.5rem ;
  padding-right: 0 ;
  font-size: calc(1 * 16px);
}
.breadcrumb-item + .breadcrumb-item {
  padding-left:  ;
  padding-right:  ;
}
.breadcrumb > .breadcrumb-item a {
  text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right:  ;
  padding-left:  ;
}
.breadcrumb-item .active-item-text {
  font-weight: bold;
  color: #8b0000;
  background-color: #fff3bf;
}
#content {
  margin-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#dashboard-footer {
  background-color: #e7f5ff;
}
#dashboard-footer .container-fluid {
  flex-direction: initial;
}
#dashboard-footer #copyright {
  padding-left: 1rem ;
  padding-right: 0 ;
  float: left;
}
#dashboard-footer #version {
  padding-right: 1rem ;
  padding-left: 0 ;
  float: right;
}
#dashboard-version .version-container {
  direction: ltr;
  display: inline-block;
  margin-right: 0.5rem ;
  margin-left: 0.5rem ;
}
#dashboard-version span.digit {
  background: #ffd43b;
  border-radius: 0.5rem;
  color: #000000;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  width: 1.6em;
}
#dashboard-version .dot-container {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-right: 0 ;
  margin-left: 0 ;
  margin-right: 0.25rem ;
  margin-left: 0.25rem ;
  /* outline: solid 1px black; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
#dashboard-version .dot-container .dot {
  margin: auto;
  margin-top: 50%;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: #000000;
}
